.serial__container {
  width: 940px;
  height: 580px;
  background-color: #cad0a7;
  opacity: 0.9;
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-radius: 5px;
  margin-bottom: 15px;
  box-shadow: 0 0 10px;
}
.serial__description_container {
  width: 480px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.serial__poster {
  border-radius: 5px;
  cursor: pointer;
}