.switch__container {
  height: 60px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.switch__body {
  width: 90px;
  height: 36px;
  background-color: #4f694ac7;
  border-radius: 35px;
  display: flex;
  align-items: center;
  cursor: pointer;
}
.switch__ball_serials {
  height: 30px;
  width: 30px;
  border-radius: 50%;
  background-color: #e8e889;
  margin-left: 57px;
  transition: 0.33s;
}
.switch__ball_movies {
  height: 30px;
  width: 30px;
  border-radius: 50%;
  background-color: #e8e889;
  margin-left: 3px;
  transition: 0.33s;
}
.text__movies {
  margin-right: 10px;
  color: #444444;
  font-size: 19px;
}
.text__serials {
  margin-left: 10px;
  color: #444444;
  font-size: 19px;
}